/spec/examples.txt
coverage/
*.gem
.config
lib/bundler/man
pkg
rdoc
*.bundle
*.so
*.o
*.a
mkmf.log


# Ignore bundler config.
/.bundle
/vendor/bundle/
/vendor/ruby/

# Ignore all log files and tempfiles.
/log/*
!/log/.keep
/tmp

# various artifacts
.project
.secret
.idea/
/spec/tmp/*
/Gemfile.lock

# vim swap files
*.swp

# node_modules
node_modules/
package.json
yarn.lock
